
<table class="table table-bordered border-success">
  <tr><td>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="{% url "home" %}">Sistema</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Gestión 
                </a>
                <ul class="dropdown-menu">
                    {% if user.is_authenticated and perms.blog.view_post %}
                    <li><a class="dropdown-item" href="{% url "posts" %}">Posts</a></li>
                    {% endif %}
                    {% if user.is_authenticated and perms.blog.add_post %}
                    <li><a class="dropdown-item" href="{% url "crear_post" %}">Agregar Post</a></li>
                    {% endif %}
                </ul>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" href="{% url "usuarios_view" %}">Usuarios</a>
              </li>-->
                <li class="nav-item">
                  <a class="nav-link" href="{% url "login_view" %}">Ingreso</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "registro_view" %}">Registro</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url "logout_view" %}">Salida</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold" href="">En Linea [ {{user.email}} ]</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </td></tr>
  </table>