<style>

    .alert-error {
        --bs-alert-color: var(--bs-danger-text-emphasis);
        --bs-alert-bg: var(--bs-danger-bg-subtle);
        --bs-alert-border-color: var(--bs-danger-border-subtle);
        --bs-alert-link-color: var(--bs-danger-text-emphasis);
    }

</style>

{% comment %} AQUÍ VAMOS A TRATAR LOS MENSAJES DE ÉXITO O ERROR {% endcomment %}
{% if  messages %}
<div>
    {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <b>{{message.tags}}!</b> {{message}}
          </div>
    {% endfor %}
</div>
{% endif %}
{% comment %} FIN BLOQUE DE MENSAJES {% endcomment %}