{% extends "layouts/base.html" %}

{% block contenido %}
    <header>
        <h1 class="text-center py-3">Agregar productos</h1>
    </header>

    <main class="container">
        <section>
            <h2 class="text-center py-3">Formulario para registrar productos</h2>

            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-5">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div>
                            <label for="nombre" class="form-label">Nombre: </label>
                            <input type="text" class="form-control" name="nombre" id="nombre" required>
                        </div>
                        <div>
                            <label for="descripcion" class="form-label">Descripción: </label>
                            <input type="text" class="form-control" name="descripcion" id="descripcion" required>
                        </div>
                        <div>
                            <label for="precio" class="form-label">Precio: </label>
                            <input type="number" class="form-control" name="precio" id="precio" required>
                        </div>
                        <div>
                            <label for="stock" class="form-label">Stock: </label>
                            <input type="number" class="form-control" name="stock" id="stock" required>
                        </div>
                        <div class="py-3">
                            <input type="submit" value="Registrar producto" class="btn btn-primary">
                        </div>
                    </form>

                    {% if error %}
                    <p class="text-danger">{{error}}</p>
                    {% else %}
                    <p class="text-success">{{mensaje}}</p>
                    {% endif %}
                </div>
            </div>

        </section>
    </main>
{% endblock contenido %}