{% extends "layouts/base.html" %} {% block contenido %}
<header>
    <h1 class="text-center py-3">Página de productos</h1>
</header>

<main class="container">
    <section id="listado-productos">
        <h3 class="text-center py-3">Listado de productos</h3>

        {% if productos %}
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">ESTADO</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <th scope="row">{{producto.id}}</th>
                    <td>{{producto.nombre|upper}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.stock}}</td>
                    <td>{{producto.estado}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-center">No existes productis disponibles.</p>
        {% endif %}
    </section>

    <section>
        <h2 class="text-center">Primer producto agregado:</h2>
        <p>{{ productos|first }}</p>
    </section>
</main>
{% endblock contenido %}
