

{% extends "layouts/base.html" %}


{% block contenido %}

<header class="py-3">
    <h1><br></h1>
</header>
<div class="caja">
    <main class="container">
        <h1 class="text-center py-3">Ingreso</h1>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5">
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <div class="py-3">
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>

    </main>
</div>
   
{% endblock contenido %}